body{
    text-align: center;
    margin: 20%;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.container{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}